In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("Resources/ABMatchData.csv")
df

,Opposition Name,Date,Result,Location,Opposition Debutants,Debutants,Opposition tries in last 5 games,Tries in last 5 games,Opposition Rating,Rating,Games since last loss
0,Canada,2003-10-17,62,Melbourne,0,1,9,28,65.62,89.80,8
1,Tonga,2003-10-24,84,Brisbane,1,1,13,31,70.08,89.80,9
2,Wales,2003-11-02,16,Sydney,0,0,17,37,76.92,89.80,10
3,South Africa,2003-11-08,20,Melbourne,0,0,28,44,81.84,89.80,11
4,Australia,2003-11-15,-12,Sydney,0,0,41,45,86.20,90.41,12
5,France,2003-11-20,27,Sydney,0,0,21,35,84.66,88.17,1
6,England,2004-06-12,33,Dunedin,1,3,17,31,90.56,90.12,2
7,England,2004-06-19,24,Auckland,2,1,10,21,89.44,91.23,3
8,Argentina,2004-06-26,34,Hamilton,1,1,48,18,78.59,92.01,4
9,Pacific Is,2004-07-10,15,North Shore City,2,1,2,20,69.00,92.31,5
10,Australia,2004-07-17,9,Wellington,0,0,21,25,87.94,92.01,6
11,South Africa,2004-07-24,2,Christchurch,0,0,17,20,83.02,92.31,7
12,Australia,2004-08-07,-5,Sydney,0,0,21,18,87.89,92.31,8
13,South Africa,2004-08-14,-14,Johannesburg,0,0,19,13,82.79,91.16,1
14,Italy,2004-11-13,49,Rome,1,4,15,10,72.32,89.63,1
15,Wales,2004-11-20,1,Millennium Stadium,0,2,24,13,76.94,89.63,2
16,France,2004-11-27,39,Stade de France,0,0,15,15,84.94,89.66,3
17,Fiji,2005-06-10,91,North Shore City,1,4,18,19,73.27,90.90,4
18,Lions,2005-06-25,18,Christchurch,0,0,8,34,80.56,90.90,5
19,Lions,2005-07-02,30,Wellington,0,0,8,34,80.56,90.90,6
20,Lions,2005-07-09,19,Auckland,0,1,6,30,80.56,90.90,7
21,South Africa,2005-08-06,-6,Cape Town,0,0,10,32,87.41,90.90,8
22,Australia,2005-08-13,17,Sydney,0,0,26,28,87.49,89.85,1
23,South Africa,2005-08-27,4,Dunedin,0,0,7,16,89.50,91.45,2
24,Australia,2005-09-03,10,Auckland,3,1,11,18,84.85,91.95,3
25,Wales,2005-11-05,38,Millennium Stadium,2,3,30,17,83.08,91.95,4
26,Ireland,2005-11-12,38,Lansdowne Road,2,2,15,17,82.14,92.57,5
27,England,2005-11-19,4,Twickenham,0,0,18,21,83.64,92.96,6
28,Scotland,2005-11-26,19,Murrayfield,0,1,15,20,73.52,93.32,7
29,Ireland,2006-06-10,11,Hamilton,0,3,12,20,82.73,93.32,8
...,...,...,...,...,...,...,...,...,...,...,...
175,Ireland,2016-11-19,12,Lansdowne Road,0,0,18,34,83.67,94.57,2
176,France,2016-11-26,5,Stade de France,0,0,14,32,80.13,94.78,3
177,Samoa,2017-06-16,78,Auckland,2,2,7,26,71.25,94.78,4
178,Lions,2017-06-24,15,Auckland,0,0,10,32,85.15,94.78,5
179,Lions,2017-07-01,-3,Wellington,0,1,11,31,85.15,94.78,6
180,Lions,2017-07-08,0,Auckland,0,0,10,21,85.15,94.78,1
181,Australia,2017-08-19,20,Sydney,1,0,19,20,84.63,94.78,2
182,Australia,2017-08-26,6,Dunedin,1,0,20,25,84.21,95.21,3
183,Argentina,2017-09-09,17,New Plymouth,0,0,16,18,78.00,95.21,4
184,South Africa,2017-09-16,57,North Shore City,0,0,19,21,85.81,95.21,5
185,Argentina,2017-09-30,26,Buenos Aires,0,1,12,29,77.86,95.21,6
186,South Africa,2017-10-07,1,Cape Town,1,0,14,32,85.35,95.21,7
187,Australia,2017-10-21,-5,Brisbane,0,0,21,27,85.59,95.52,8
188,France,2017-11-11,20,Stade de France,6,0,10,24,79.63,93.83,1
189,Scotland,2017-11-18,5,Murrayfield,2,0,21,23,82.47,96.83,2
190,Wales,2017-11-25,15,Millennium Stadium,0,0,7,18,80.98,93.99,3
191,France,2018-06-09,41,Auckland,0,1,8,18,79.10,93.99,4
192,France,2018-06-16,13,Wellington,1,0,8,23,79.10,93.99,5
193,France,2018-06-23,35,Dunedin,1,4,7,25,79.10,93.99,6
194,Australia,2018-08-18,25,Sydney,2,1,10,27,84.48,93.99,7
195,Australia,2018-08-25,28,Auckland,2,0,11,30,83.96,94.52,8
196,Argentina,2018-09-08,22,Nelson,1,1,12,31,77.02,94.52,9
197,South Africa,2018-09-15,-2,Wellington,0,0,14,29,81.35,94.52,10
198,Argentina,2018-09-29,18,Buenos Aires,0,1,14,31,79.02,92.52,1
199,South Africa,2018-10-06,2,Pretoria,0,0,18,29,83.96,92.52,2
200,Australia,2018-10-27,17,Yokohama,0,0,15,27,82.86,92.96,3
201,Japan,2018-11-03,38,Tokyo,2,8,18,26,75.24,92.96,4
202,England,2018-11-10,1,Twickenham,0,0,11,30,86.16,92.96,5
203,Ireland,2018-11-17,-7,Lansdowne Road,0,0,14,25,90.12,93.58,6
204,Italy,2018-11-24,63,Rome,0,0,11,20,72.75,92.54,1